# **Automatidata project**
**Course 2 - Get Started with Python**

Welcome to the Automatidata Project!

You have just started as a data professional in a fictional data analytics firm, Automatidata. Their client, the New York City Taxi and Limousine Commission (New York City TLC), has hired the Automatidata team for its reputation in helping their clients develop data-based solutions.

The team is still in the early stages of the project. Previously, you were asked to complete a project proposal by your supervisor, DeShawn Washington. You have received notice that your project proposal has been approved and that New York City TLC has given the Automatidata team access to their data. To get clear insights, New York TLC's data must be analyzed, key variables identified, and the dataset ensured it is ready for analysis.

A notebook was structured and prepared to help you in this project. Please complete the questions inside and prepare a summary for the data team.

# **Identify data types and relevant variables using Python**

### **Exercise Instructions:**

### **Task 2a. Build dataframe**

Create a pandas dataframe for data learning, exploratory data analysis (EDA), and statistical activities.

**Code the following,**

*   import pandas as pd               #library exercise for buidling dataframes

*   import numpy as np                #numpy is imported with pandas

*   df = pd.read_csv('2017_Yellow_Taxi_Trip_Data.csv')

**Note:** pair the data object name "df" with pandas functions to manipulate data, such as df.groupby().

**Note:** As shown in this cell, the dataset has been automatically loaded in for you. You do not need to download the .csv file, or provide more code, in order to access the dataset and proceed with this lab. Please continue with this activity by completing the following instructions.

In [9]:
#==> ENTER YOUR CODE HERE
import pandas as pd
import numpy as np
# RUN THIS CELL TO IMPORT YOUR DATA.
df = pd.read_csv('2017_Yellow_Taxi_Trip_Data.csv')
print("done")

done

### **Task 2b. Understand the data - Inspect the data**

View and inspect summary information about the dataframe by coding the following:

1. df.head(10)
2. df.info()
3. df.describe()

Consider the following two questions:

**Question 1:** When reviewing the df.info() output, what do you notice about the different variables? Are there any null values? Are all of the variables numeric? Does anything else stand out?

**Question 2:** When reviewing the df.describe() output, what do you notice about the distributions of each variable? Are there any questionable values?

#==> ENTER YOUR RESPONSE TO QUESTIONS 1 & 2 HERE

Question 1: There are no null values when inspecting the data with df.info(). However that does not mean that data is cleaned, 0 values could be a indication of unclean data.

Question 2: Using the describe() output, I notice summary statistics on columns that are id's which is not useful as it is not a aggregate column. I did notice negative amount for the minimum [fare_amount], which is odd. This could resembled a refund, adjustment, credit, or error with the data. Going to explore the negative amounts here.

In [10]:
print(df.head(10))

   Unnamed: 0  VendorID    tpep_pickup_datetime   tpep_dropoff_datetime  \
0    24870114         2   03/25/2017 8:55:43 AM   03/25/2017 9:09:47 AM
1    35634249         1   04/11/2017 2:53:28 PM   04/11/2017 3:19:58 PM
2   106203690         1   12/15/2017 7:26:56 AM   12/15/2017 7:34:08 AM
3    38942136         2   05/07/2017 1:17:59 PM   05/07/2017 1:48:14 PM
4    30841670         2  04/15/2017 11:32:20 PM  04/15/2017 11:49:03 PM
5    23345809         2   03/25/2017 8:34:11 PM   03/25/2017 8:42:11 PM
6    37660487         2   05/03/2017 7:04:09 PM   05/03/2017 8:03:47 PM
7    69059411         2   08/15/2017 5:41:06 PM   08/15/2017 6:03:05 PM
8     8433159         2   02/04/2017 4:17:07 PM   02/04/2017 4:29:14 PM
9    95294817         1   11/10/2017 3:20:29 PM   11/10/2017 3:40:55 PM

   passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
0                6           3.34           1                  N
1                1           1.80           1                  N
2                1           1.00           1                  N
3                1           3.70           1                  N
4                1           4.37           1                  N
5                6           2.30           1                  N
6                1          12.83           1                  N
7                1           2.98           1                  N
8                1           1.20           1                  N
9                1           1.60           1                  N

   PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
0           100           231             1         13.0    0.0      0.5
1           186            43             1         16.0    0.0      0.5
2           262           236             1          6.5    0.0      0.5
3           188            97             1         20.5    0.0      0.5
4             4           112             2         16.5    0.5      0.5
5           161           236             1          9.0    0.5      0.5
6            79           241             1         47.5    1.0      0.5
7           237           114             1         16.0    1.0      0.5
8           234           249             2          9.0    0.0      0.5
9           239           237             1         13.0    0.0      0.5

   tip_amount  tolls_amount  improvement_surcharge  total_amount
0        2.76           0.0                    0.3         16.56
1        4.00           0.0                    0.3         20.80
2        1.45           0.0                    0.3          8.75
3        6.39           0.0                    0.3         27.69
4        0.00           0.0                    0.3         17.80
5        2.06           0.0                    0.3         12.36
6        9.86           0.0                    0.3         59.16
7        1.78           0.0                    0.3         19.58
8        0.00           0.0                    0.3          9.80
9        2.75           0.0                    0.3         16.55

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22699 entries, 0 to 22698
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             22699 non-null  int64
 1   VendorID               22699 non-null  int64
 2   tpep_pickup_datetime   22699 non-null  object
 3   tpep_dropoff_datetime  22699 non-null  object
 4   passenger_count        22699 non-null  int64
 5   trip_distance          22699 non-null  float64
 6   RatecodeID             22699 non-null  int64
 7   store_and_fwd_flag     22699 non-null  object
 8   PULocationID           22699 non-null  int64
 9   DOLocationID           22699 non-null  int64
 10  payment_type           22699 non-null  int64
 11  fare_amount            22699 non-null  float64
 12  extra                  22699 non-null  float64
 13  mta_tax                22699 non-null  float64
 14  tip_amount             22699 non-null  float64
 15  tolls_amount           22699 non-null  float64
 16  improvement_surcharge  22699 non-null  float64
 17  total_amount           22699 non-null  float64
dtypes: float64(8), int64(7), object(3)
memory usage: 3.1+ MB
None

In [12]:
print(df.describe())

         Unnamed: 0      VendorID  passenger_count  trip_distance  \
count  2.269900e+04  22699.000000     22699.000000   22699.000000
mean   5.675849e+07      1.556236         1.642319       2.913313
std    3.274493e+07      0.496838         1.285231       3.653171
min    1.212700e+04      1.000000         0.000000       0.000000
25%    2.852056e+07      1.000000         1.000000       0.990000
50%    5.673150e+07      2.000000         1.000000       1.610000
75%    8.537452e+07      2.000000         2.000000       3.060000
max    1.134863e+08      2.000000         6.000000      33.960000

         RatecodeID  PULocationID  DOLocationID  payment_type   fare_amount  \
count  22699.000000  22699.000000  22699.000000  22699.000000  22699.000000
mean       1.043394    162.412353    161.527997      1.336887     13.026629
std        0.708391     66.633373     70.139691      0.496211     13.243791
min        1.000000      1.000000      1.000000      1.000000   -120.000000
25%        1.000000    114.000000    112.000000      1.000000      6.500000
50%        1.000000    162.000000    162.000000      1.000000      9.500000
75%        1.000000    233.000000    233.000000      2.000000     14.500000
max       99.000000    265.000000    265.000000      4.000000    999.990000

              extra       mta_tax    tip_amount  tolls_amount  \
count  22699.000000  22699.000000  22699.000000  22699.000000
mean       0.333275      0.497445      1.835781      0.312542
std        0.463097      0.039465      2.800626      1.399212
min       -1.000000     -0.500000      0.000000      0.000000
25%        0.000000      0.500000      0.000000      0.000000
50%        0.000000      0.500000      1.350000      0.000000
75%        0.500000      0.500000      2.450000      0.000000
max        4.500000      0.500000    200.000000     19.100000

       improvement_surcharge  total_amount
count           22699.000000  22699.000000
mean                0.299551     16.310502
std                 0.015673     16.097295
min                -0.300000   -120.300000
25%                 0.300000      8.750000
50%                 0.300000     11.800000
75%                 0.300000     17.800000
max                 0.300000   1200.290000

### **Task 2c. Understand the data - Investigate the variables**

Sort and interpret the data table for two variables:`trip_distance` and `total_amount`.

**Answer the following three questions:**

**Question 1:** Sort your first variable (`trip_distance`) from maximum to minimum value, do the values seem normal?

**Question 2:** Sort your by your second variable (`total_amount`), are any values unusual?

**Question 3:** Are the resulting rows similar for both sorts? Why or why not?

*#==> ENTER YOUR RESPONSES TO QUESTION 1-3 HERE

Question 1: There are total_amounts for multiple trip_distance of 0.00 . 

Question 2: There are large and significant values for trip_distance of 0.00  -- This makes me believe that there are services that do not charge by distance but by time or even a fixed fee (this could be limo services...). 

Question 3: In my opinion they are different becuase there are too many 0.00 distances that have significant total_amounts. You could cherry pick ones to get a general trend of the more trip_distance the more total_amount, however there is something significant going on here that should be considered.

In [13]:
df_sorted = df.sort_values( by=['trip_distance'], ascending = False )

print(df_sorted[['trip_distance','total_amount']])

       trip_distance  total_amount
9280           33.96        150.30
13861          33.92        258.21
6064           32.72        179.06
10291          31.95        131.80
29             30.83        111.38
...              ...           ...
2440            0.00          6.80
15916           0.00         10.30
1350            0.00          3.96
246             0.00          3.80
17788           0.00          3.80

[22699 rows x 2 columns]

In [14]:
df_sorted = df.sort_values( by=['total_amount'], ascending = False )

print(df_sorted[['trip_distance','total_amount']].head(20))


# Sort the data by total amount and print the top 20 values

       trip_distance  total_amount
8476            2.60       1200.29
20312           0.00        450.30
13861          33.92        258.21
12511           0.00        233.74
15474           0.00        211.80
6064           32.72        179.06
16379          25.50        157.06
3582            7.30        152.30
11269           0.00        151.82
9280           33.96        150.30
1928           12.50        137.80
10291          31.95        131.80
6708            0.32        126.00
11608          23.00        123.30
908            26.12        121.56
7281            0.00        120.96
18130          30.50        119.31
13621          19.80        115.94
13359           0.00        111.95
29             30.83        111.38

In [15]:
#==> ENTER YOUR CODE HERE
df_sorted = df.sort_values( by=['total_amount'], ascending = True )

print(df_sorted[['trip_distance','total_amount']].head(20))
# Sort the data by total amount and print the bottom 20 values

       trip_distance  total_amount
12944           0.17       -120.30
20698           0.70         -5.80
17602           0.46         -5.80
11204           0.64         -5.30
14714           0.40         -5.30
8204            0.41         -4.80
20317           0.24         -4.80
10281           0.00         -4.30
5448            0.25         -4.30
4423            0.06         -4.30
18565           0.10         -3.80
314             0.12         -3.80
5758            0.02         -3.80
1646            0.04         -3.30
10506           0.00          0.00
4402            7.06          0.00
5722            0.00          0.00
22566           0.00          0.00
19067           0.10          0.30
14283           0.00          0.31

In [76]:
#==> ENTER YOUR CODE HERE
df_sorted = df.sort_values( by=['total_amount'], ascending = False )

print(df_sorted.payment_type.value_counts())
# How many of each payment type are represented in the data?

#1    15265
#2     7267
#3      121
#4       46

1    15265
2     7267
3      121
4       46
Name: payment_type, dtype: int64

In [94]:
#==> ENTER YOUR CODE HERE
df_credit = df[df['payment_type'] == 1]

#print(df_credit[['VendorID', 'fare_amount']].sort_values(by='fare_amount', ascending = True))

print(df_credit['tip_amount'].mean())

df_cash = df[df['payment_type'] == 2]
print(df_cash['tip_amount'].mean())
# What is the average tip for trips paid for with credit card?
# 2.7298001965279934
# What is the average tip for trips paid for with cash?
# 1.8346095358783399

2.7298001965279934
0.0

In [77]:
#==> ENTER YOUR CODE HERE

print(df.value_counts(['VendorID']))
# How many times is each vendor ID represented in the data?

#VendorID
#2           12626
#1           10073

VendorID
2           12626
1           10073
dtype: int64

In [98]:
#==> ENTER YOUR CODE HERE
df_vendor = df.groupby(['VendorID']).mean(numeric_only=True)

print( df_vendor['total_amount'] ) 
# What is the mean total amount for each vendor?

VendorID
1    16.298119
2    16.320382
Name: total_amount, dtype: float64

In [95]:
#==> ENTER YOUR CODE HERE
df_credit_card = df[df['payment_type'] == 1]
# Filter the data for credit card payments only
print(df_credit_card.info())

print(df.info())

# Filter the data for passenger count only
#there are a few rides that did not have passenger_count difference in the non-null count .

df_passenger_count = df[df['passenger_count'] > 0]

print(df_passenger_count.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15265 entries, 0 to 22698
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             15265 non-null  int64
 1   VendorID               15265 non-null  int64
 2   tpep_pickup_datetime   15265 non-null  object
 3   tpep_dropoff_datetime  15265 non-null  object
 4   passenger_count        15265 non-null  int64
 5   trip_distance          15265 non-null  float64
 6   RatecodeID             15265 non-null  int64
 7   store_and_fwd_flag     15265 non-null  object
 8   PULocationID           15265 non-null  int64
 9   DOLocationID           15265 non-null  int64
 10  payment_type           15265 non-null  int64
 11  fare_amount            15265 non-null  float64
 12  extra                  15265 non-null  float64
 13  mta_tax                15265 non-null  float64
 14  tip_amount             15265 non-null  float64
 15  tolls_amount           15265 non-null  float64
 16  improvement_surcharge  15265 non-null  float64
 17  total_amount           15265 non-null  float64
dtypes: float64(8), int64(7), object(3)
memory usage: 2.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22699 entries, 0 to 22698
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             22699 non-null  int64
 1   VendorID               22699 non-null  int64
 2   tpep_pickup_datetime   22699 non-null  object
 3   tpep_dropoff_datetime  22699 non-null  object
 4   passenger_count        22699 non-null  int64
 5   trip_distance          22699 non-null  float64
 6   RatecodeID             22699 non-null  int64
 7   store_and_fwd_flag     22699 non-null  object
 8   PULocationID           22699 non-null  int64
 9   DOLocationID           22699 non-null  int64
 10  payment_type           22699 non-null  int64
 11  fare_amount            22699 non-null  float64
 12  extra                  22699 non-null  float64
 13  mta_tax                22699 non-null  float64
 14  tip_amount             22699 non-null  float64
 15  tolls_amount           22699 non-null  float64
 16  improvement_surcharge  22699 non-null  float64
 17  total_amount           22699 non-null  float64
dtypes: float64(8), int64(7), object(3)
memory usage: 3.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 22666 entries, 0 to 22698
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             22666 non-null  int64
 1   VendorID               22666 non-null  int64
 2   tpep_pickup_datetime   22666 non-null  object
 3   tpep_dropoff_datetime  22666 non-null  object
 4   passenger_count        22666 non-null  int64
 5   trip_distance          22666 non-null  float64
 6   RatecodeID             22666 non-null  int64
 7   store_and_fwd_flag     22666 non-null  object
 8   PULocationID           22666 non-null  int64
 9   DOLocationID           22666 non-null  int64
 10  payment_type           22666 non-null  int64
 11  fare_amount            22666 non-null  float64
 12  extra                  22666 non-null  float64
 13  mta_tax                22666 non-null  float64
 14  tip_amount             22666 non-null  float64
 15  tolls_amount           22666 non-null  float64
 16  improvement_surcharge  22666 non-null  float64
 17  total_amount           22666 non-null  float64
dtypes: float64(8), int64(7), object(3)
memory usage: 3.3+ MB
None

In [96]:
#==> ENTER YOUR CODE HERE

# Calculate the average tip amount for each passenger count (credit card payments only)
df_avg_tip_credit = df_credit_card.groupby(['passenger_count']).mean(numeric_only = True)[['tip_amount']]

print(df_avg_tip_credit)

                 tip_amount
passenger_count
0                  2.610370
1                  2.714681
2                  2.829949
3                  2.726800
4                  2.607753
5                  2.762645
6                  2.643326

### **Given your efforts, what can you summarize for DeShawn and the data team?**

*Note for Learners: Your answer should address Luana's request for a summary that covers the following points:* 

* A summary of the data types of each variable

* The number of null and non-null values

* Preliminary insights derived from the data, including:
    * Unusual or questionable values
    * How many of each payment type are represented in the data
    * Mean tip amount for each payment type
    * How many rides each vendor provided
    * Mean total amount for each vendor
    * Mean tip amount for each passenger count (only of those who paid by credit card)

==> ENTER YOUR RESPONSE HERE